<!DOCTYPE html>
<html>
<head>
    <title>Healthcare Assistance Finder</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<img src="{{ url_for('static', filename='logo.png') }}" class="logo">

<body>
    <h1>Healthcare Assistance Program Finder</h1>

    <nav>
        <a href="/">Home</a> |
        <a href="/search">Search Programs</a> |
        <a href="/programs">View Programs</a> |
        <a href="/add-user">Add User</a> |
        <a href="/add-application">Add Application</a> |
        <a href="/reports">Reports</a> |
        <a href="/about">About</a>
    </nav>

    <p>Welcome to the system.</p>
</body>
</html>